 li a{
    list-style: none;
    text-decoration: none;
    color: #E6E6E6;
    padding: 10px;
}

.container{
    background: #424242;
}


.postagens{
    display: flex;
    background-color: #585858;
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 10px;
    border-radius: 8%;
    margin-bottom: 10px;
}
.posts{
    padding-top: 10px;
    padding: 5px;
    margin: auto;
    color: #E6E6E6;
}

.img {
    width: 50%; 
    height: 70%;
    margin-right: auto;
    margin-top: 5px;
}

.datapost{
    margin-top: 10px;
    margin-bottom: 10px;
    
}

p {
    padding: 10px;
}

p > a{
    color: #E6E6E6;    
}

a {
    margin-top: 10px;
}

p > a:hover{
    color: black;
    background-color: #E3CEF6;
    border-radius: 100px;
    transition: 1.5s;
}

h2 {
    padding-left: 10px;
    color: black;
}

  @media (max-width: 768px) {
    body {
      width: 100%;
    }
  }

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    text-align: center;
    align-items: center;
    padding: 3%;
    color: #fff;
    background-color: #6E6E6E;
}

.redes-sociais li{
    text-decoration: none;
    list-style: none;
}

.redes-sociais ul > li a{
    color: black;
}

.redes-sociais ul > li a:hover{
    color: #ffff;
    background-color: #c3c3c3;
    border-radius: 10px;
    transition: 0.8s;

}

#logo{
    float: right;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
}

#links{
    display: flex;
    padding: 20px;
    list-style: none;
}

#links li > a:hover{
    background-color: black;
    color: #fff;
    border-radius: 50%;
    transition: 0.9s;
}

#menu {
    background: #6E6E6E;
    padding: 10px;
    margin-bottom: 10px;
}